@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background: linear-gradient(
    219deg,
    #fe2b25,
    #6bed35,
    #f20b89,
    #ede316,
    #9d94f4
  );
  background-size: 1000% 1000%;
  animation: AnimationName 37s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
